* {
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

body {
  overflow: auto;
}

body::-webkit-scrollbar {
  display: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}